In [1]:
import twitter
import pandas as pd
import csv
import time
import numpy as np

In [2]:
#initialise the API for twitter

twitter_api = twitter.Api(consumer_key='SyYb53RgRe2yovpNkbRLQWMLf',
                        consumer_secret='YxOG1Vs8mdUtgNI5dJqXSAIbKYm4fl0D8BgWcAQt8z6fLqxZKx',
                        access_token_key='1318702260596006912-nSG7CBJZHBAnwDQABFc4J8HOaNBwKL',
                        access_token_secret='mkabBMLcYMdRNFSPEvav5OEWFjBWImsCBTGsRnewEOr8q')

# test authentication
print(twitter_api.VerifyCredentials())

{"created_at": "Tue Oct 20 23:54:59 +0000 2020", "default_profile": true, "default_profile_image": true, "id": 1318702260596006912, "id_str": "1318702260596006912", "name": "Dhanya Maheswaran", "profile_background_color": "F5F8FA", "profile_image_url": "http://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png", "profile_image_url_https": "https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png", "profile_link_color": "1DA1F2", "profile_sidebar_border_color": "C0DEED", "profile_sidebar_fill_color": "DDEEF6", "profile_text_color": "333333", "profile_use_background_image": true, "screen_name": "DhanyaMaheswar1"}

In [3]:
#first 100 tweets
try:
    trump_tweets_1= twitter_api.GetSearch('trump', count = 100, lang='en')
    id_1=(len(trump_tweets_1))
    id_1=trump_tweets_1[id_1-1].id

except:
    print("there is an error")

In [4]:
#second 100 tweets
try:
    trump_tweets_2= twitter_api.GetSearch('trump', max_id=id_1-1, count = 100, lang='en')
    id_2=(len(trump_tweets_2))
    id_2=trump_tweets_2[id_2-1].id

except:
    print("there is an error")

In [5]:
#third 100 tweets
try:
    trump_tweets_3= twitter_api.GetSearch('trump', max_id=id_2-1, count = 100, lang='en')
    id_3=(len(trump_tweets_3))
    id_3=trump_tweets_3[id_3-1].id

except:
    print("there is an error")

In [6]:
#fourth 100 tweets
try:
    trump_tweets_4= twitter_api.GetSearch('trump', max_id=id_3-1, count = 100, lang='en')
    id_4=(len(trump_tweets_4))
    id_4=trump_tweets_4[id_4-1].id

except:
    print("there is an error")

In [7]:
#fifth 100 tweets
try:
    trump_tweets_5= twitter_api.GetSearch('trump', max_id=id_4-1, count = 100, lang='en')
    id_5=(len(trump_tweets_5))
    id_5=trump_tweets_5[id_5-1].id

except:
    print("there is an error")

In [16]:
#sixth 100 tweets

try:
    trump_tweets_6= twitter_api.GetSearch('trump', max_id=id_5-1, count = 100, lang='en')
    id_6=(len(trump_tweets_6))
    id_6=trump_tweets_6[id_6-1].id

except:
    print("there is an error")

In [17]:
trump_tweets=trump_tweets_1+trump_tweets_2+trump_tweets_3+trump_tweets_4+trump_tweets_5+ trump_tweets_6
print(len(trump_tweets))

524

In [18]:
    text_tweets=[]
    tweet_id=[]
    tweet_screenname=[]
    tweet_time=[]
    for x in range(0,len(trump_tweets)):
        text=trump_tweets[x].text
        text_tweets.append(text)

            #getting tweet id
        id=trump_tweets[x].id
        tweet_id.append(id)

            #getting tweet handle 
        name=trump_tweets[x].user.screen_name
        tweet_screenname.append(name)

            #getting tweet time:
        time=trump_tweets[x].created_at
        tweet_time.append(time)
            #getting text language

In [19]:
#putting all the trump tweets into a dataframe 

trump_tweets_df=pd.DataFrame({'id': tweet_id, 'Created at' : tweet_time, 'Screen Name': tweet_screenname, "Tweet Text": text_tweets})

In [20]:
trump_tweets_df.nunique()

id             524
Created at      34
Screen Name    506
Tweet Text     422
dtype: int64

In [21]:
#dropping tweets that have duplicate text
trump_tweets_df=trump_tweets_df.drop_duplicates(subset=['Tweet Text'])

In [22]:
trump_tweets_df.to_csv("trump_tweets_scraped.csv")

In [23]:
trump_tweets_df

,id,Created at,Screen Name,Tweet Text
0,1321203946883444738,Tue Oct 27 21:35:42 +0000 2020,kylegriffin1,Breaking: New NYT tax report.\n\nTrump's feder...
1,1321138640794378242,Tue Oct 27 17:16:12 +0000 2020,Fahrenthold,NEW: Previously un-released documents show the...
2,1321232759516528640,Tue Oct 27 23:30:11 +0000 2020,RepAdamSchiff,There is no limit to this Administrationâ€™s cor...
3,1321683136846176257,Thu Oct 29 05:19:50 +0000 2020,shellyshenoy,PLEASE BEG YOUR FRIENDS IN NORTH CAROLINA TO V...
4,1321683136716197888,Thu Oct 29 05:19:50 +0000 2020,JoanHathaway,RT @BillOReilly: My take is Mr. Trump is showi...
...,...,...,...,...
515,1321683017069375490,Thu Oct 29 05:19:21 +0000 2020,GDT0429,RT @CREWcrew: Even after Trump sued Deutsche B...
517,1321683016767426560,Thu Oct 29 05:19:21 +0000 2020,WQKE_UP_AMERICA,RT @CalebJHull: JUST IN: DOJ investigation has...
520,1321683015093768193,Thu Oct 29 05:19:21 +0000 2020,DeeDeeGriff,RT @SerendipityDizl: Trump is ahead in MI (oof...
522,1321683013411905541,Thu Oct 29 05:19:20 +0000 2020,trsteshull,RT @TonyDuran1964: Fantastic. Trump 2020!!
523,1321683013353172992,Thu Oct 29 05:19:20 +0000 2020,julie_mememe73,@WOsrin Trump mushroom